---
import { SITE } from '~/config.mjs';
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';


const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <!-- Hero Widget ******************* -->

  <Hero
    callToAction={{ text: 'Get Started',href:'blog'}}  >
    <Fragment slot="title">
      <span class="text-accent dark:text-white highlight"> Fact Checking Central</span> 
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Academic Escorts</span> is a free website offering a fact-checking questionnaire to improve users' critical thinking skills and enable them to make informed decisions based on trustworthy online information.</span
      >
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->
  <Note />
  <!-- Features Widget *************** -->

  <Features
    highlight="Fact Checking Central"
    title="Why You Should You The Questionare?"
    subtitle=""
    items={[
      [
        {
          title: 'Develop Critical Thinking Skills',
          description:
            'Using the questionnaire can help you hone your ability to assess the accuracy and reliability of online information, and to distinguish between fact and opinion.',
          icon: 'tabler:puzzle',
        },
        {
          title: 'Avoid Misinformation',
          description:
            'By fact-checking the information you encounter online, you can avoid falling prey to fake news, propaganda, and other forms of misinformation that can be misleading or harmful.',
          icon: 'tabler:info-circle',
        },
        {
          title: 'Make Informed Decisions',
          description:
            "Fact-checking can enable you to make informed decisions based on reliable and trustworthy information, whether you're researching a topic or making a purchasing decision.",
          icon: 'tabler:chart-pie',
        },
      ],
      [
        {
          title: 'Save Time',
          description:
            'By using a fact-checking questionnaire, you can quickly determine the credibility of information without having to spend extra time researching and verifying each source. This can save you time and increase your productivity.',
          icon: 'tabler:clock',
        },
        {
          title: 'Stay Safe Online',
          description:
            'Fact-checking can help you avoid scams, hoaxes, and other forms of online fraud that can put your personal information and financial security at risks',
          icon: 'tabler:key',
        },
        {
          title: 'Enhance Your Research Skills',
          description:
            'Using the fact-checking questionnaire can help you become a more effective and efficient learner by improving your research skills and enabling you to find and evaluate credible sources of information more quickly and easily.',
          icon: 'tabler:search',
        },
      ],
    ]}
  />

  <!-- Steps Widget ****************** -->

  <Steps
    title="How to get started on your fact-checking Journey?"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Learn About Fact-Checking</span>',
        description:
          'Read the resources and guides on the Academic Escorts website to learn about the importance of fact-checking and how to do it effectively.',
        icon: 'tabler:book',
      },
      {
        title: 'Step 2: <span class="font-medium">Access the Fact-Checking Questionnaire</em>',
        description:
          "Once you've familiarized yourself with the basics of fact-checking, access the questionnaire on the Academic Escorts website.",
        icon: 'tabler:question-mark',
      },
      {
        title: 'Step 3: <span class="font-medium">Answer the Questions</span>',
        description:
          'Answer the questions in the questionnaire as honestly and accurately as possible.',
        icon: 'tabler:bulb',
      },
      {
        title: 'Step 4: <span class="font-medium">Get Your Results</span>',
        description:
          "Once you've completed the questionnaire, you'll receive your results with helpful tips and resources on how to fact-check information effectively.",
        icon: 'tabler:check',
      },
      {
        title: 'Fact Checking Expert',
        icon: 'tabler:award',
      },
    ]}
    image={{
      src: import('~/assets/images/jaredd-craig-HH4WBGNyltc-unsplash.jpg'), 
      alt: 'Steps image',
    }}
  />
</Layout>
